@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

h2 {
    margin: 0 0 0.5em;
}

p {
    color: #FFFFFF;
    font-size: 1.25rem;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}


.banner {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.banner .logo {
    width: 30em;
}

.introduction {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.introduction p {
    margin: 5rem auto;
    width: 45em;
    text-align: justify;
}

.information {
    display: flex;
    font-weight: 600;
    margin: 0 auto;
    justify-content: center;
}

.information button {
    background-color: #2F8F9D;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}

.information button:hover {
    box-shadow: 7px 6px 28px 1px rgba(47, 143, 157, 0.24);
    transform: translateY(2px);
    transition: 0.3s;
}

@media (max-width: 1025px) {
    
    body {
        overflow-y: scroll;
    }

    .banner {
        transform: translate(0, 0);
    }

    .banner .logo {
        width: 30rem;
    }

    .introduction {
        display: flex;
        justify-content: center;
        margin: 2rem auto 0;
    }

    .introduction p {
        width: 30rem;
        text-align: justify;
    }

    .information {
        font-weight: 600;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
}